form {
    background-color:white;

    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

form .form-header h1 {
    font-size: 120%;
    padding-left: 0.4%;
}
form .form-header h2 {
    font-weight: normal;
    font-size: 100%;

    padding-left: 0.4%;
}

form .search {
    display: inline-flex;
    align-items: baseline;

    border: 1px solid #f2f2f2;
    border-radius: 20px;

    background-color: #f2f2f2;
}
form .search i {
    padding: 5% 5% 5% 5%;

    font-size: 100%;
}
form .search input {
    padding: 5% 5% 5% 5%;
    border: 0;

    font-weight: bold;
}
form .search input:focus {
    outline: none;
}
form .search-button {
    background-color:#0065FC;
    color: white;

    padding: 5% 5% 5% 5%;
    border: 0;
    border-radius: 0 20px 20px 0px;

    font-family: Raleway;
    font-weight: bold;
}

form .filters {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 2%;

    margin-top: 1%;
    margin-bottom: 1%;
}
form .filters h2 {
    font-size: 110%;

    flex-basis: 100%;
}
form .filter {
    margin-bottom: 2%;
    border: 2px solid #f2f2f2;
    border-radius: 40px;

    font-weight: bold;
}
form .filter:hover {
    color: white;
    cursor: pointer;

    color: #0065FC;
    border: 2px solid #0065FC;
}
form .filter i {
    border: 3px solid #DEEBFF;
    border-radius: 100%;
    padding: 10px;

    color: #0065FC;
    background-color: #DEEBFF;
}
form .filter p {
    display: inline-block;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

form .info {
    display: flex;
    align-items: center;
    gap: 1%;
}
from .info span {
    border: 10px solid #f2f2f2;
    height: 20%;
}
form .info .icon-background2 {
    color:white;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
}
form .info .fa-info {
    color: blue;
    height: 40px; 
}

.search-button i {
    display: none;
}

/* smartphones */
@media screen and (max-width: 768px) {
    .search-button-text {
        display: none;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    form .form-header {
        width: 90%;
    }
    form .filters {
        width: 80%;
    }

    form .search {
        flex: 1 0 auto;

        margin-left: 2%;
        margin-right: 2%;
    }
    form .search > i {
        flex: 1 0 15%;
        text-align: center;

        padding: unset;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    form .search input {
        flex: 1 0 70%;

        padding: unset;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 2%;
    }
    form .search .search-button {
        flex: 1 0 15%;

        padding: unset;
        padding-top: 3%;
        padding-bottom: 3%;

        border-radius: 5px 5px 5px 5px;
    }
    form .search-button i {
        display: inline;

        flex: 1 0 auto;
    }
}