header {
    display: flex;
    justify-content: space-between;
    
    padding-left: 1%;
    padding-right: 10%;
}

header img {
    margin-top: 3.5%;
    margin-bottom: 2%;

    padding-left: 2%;

    height: 50px;
}

header nav {
    padding-right: 10%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    gap: 30%;

    list-style: none;
    margin: 0;
    padding-left: 0;
}
header nav ul li {
    padding-top: 20%;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
}
header nav ul li:hover {
    color: #0065FC;

    border-top: 3px solid#0065FC;
}
header nav ul li a {
    text-decoration: none;
    color: inherit;
}

/* smartphones */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0;
    } 
    header nav {
        padding-top: 5%;
        padding-right: 0%;

        width: 100%;
    }
    header nav ul {
        width: 100%;
        gap: 0;
        justify-content: center;
    }
    header nav ul li {
        padding-top: 0;
        padding-bottom: 3%;
        width: 50%;

        text-align: center;
    }
    header nav ul li:hover {
        border-top: 0;
        border-bottom: 3px solid #0065FC;
    }
}