main {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
}
main > .results {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2%;
}
main .results section {
    border-radius: 2%;
    padding: 1.5%;
}

#accomodations-results {
    background-color: #f2f2f2;

    flex-basis: 65%;
}
#accomodations-results header {
    font-size: 100%;
}
#accomodations-results .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 

    height: 95%;
}
#accomodations-results .results .card {
    width: 33%;
}
#accomodations-results .results .card figure {
    width: 90%;

    margin: 1%;
    padding: 1.5%;
}
#accomodations-results .results .card figure img {
    height: 132px;
    width: 100%;
    border-radius: 25px 25px 0 0;
}
#accomodations-results .results .card figure figcaption  {
    line-height: 90%;
}
#accomodations-results .results .card figure figcaption p {
    padding-left: 0;
}
#accomodations-results .results p {
    padding-left: 2%;
}

#most-popular {
    background-color: #f2f2f2;
    
    flex-basis: 33%;
}
#most-popular header, #accomodations-results header {
    display: flex;
    align-items: center;

    height: 10%;

    padding-bottom: 3%;
    padding-left: 0%;
    padding-top: 3%;

    font-size: 90%;
}
#most-popular .results {
    display: flex;
    flex-wrap: wrap;

    height: 100%;
}
#most-popular .results .card {
    width: 100%;
    height: 160px;  

    padding: 0;
    margin: 0;
}
#most-popular .results .card figure {
    display: flex;
    margin: 0;

    padding: 1.5%;
    height: 100%;
}
#most-popular .results .card figure img {
    height: 100%;

    border-radius: 25px 0 0 25px;
}
#most-popular .results .card figure figcaption {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;

    width: 120%;
}
#most-popular .results .card figcaption .rating  {
    font-size: 80%;
}

#activities-results {
    flex-basis: 100%;

    padding: 0;
}
#activities-results .results {
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 1%;

    height: 500px; 
}
#activities-results .results .card {
    width: 22%;
    height: 48%;
}
#activities-results .results .card figure {
    margin: 1%;
    border: 2px solid #f2f2f2;
    border-radius: 30px  30px 25px 25px;
    padding: 0;

    height: 100%;
}
#activities-results .results .card figure img {
    height: 80%;
    border-radius: 25px 25px 0 0;
}
#activities-results .results .card figure figcaption {
    display: flex;
    align-items: center;

    height: 20%;

    font-size: 110%;
    font-weight: bold;
}

#activities-results .results .card:nth-child(1),
#activities-results .results .card:nth-child(4) {
    flex-basis: 100%;
    height: 100%;
}
#activities-results .results .card:nth-child(1) figure img,
#activities-results .results .card:nth-child(4) figure img {
    height: 90%;
}
#activities-results .results .card:nth-child(1) figure figcaption,
#activities-results .results .card:nth-child(4) figure figcaption {
    height: 10%;
}

/* smartphones */
@media screen and (max-width: 768px) {
    main {
        padding: 0;
    }

    .results {
        flex-direction: column;
    }

    #most-popular {
        order: 0;
        padding: 0;
    }
    #most-popular header {
        flex-direction: row;
        justify-content: space-between;

        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 0;
    }
    #most-popular .results {
        flex-direction: row;

        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
    #most-popular .results .card {
        padding-bottom: 3%;

        height: unset;
    }
    #most-popular .results .card figure img {
        height: 170px;  
        min-width: 40%;
    }

    #accomodations-results {
        order: 1;
        background-color: white;
    }
    #accomodations-results header {
        padding: 0;
    }
    #accomodations-results header h2 {
        align-self: baseline;

        padding-left: 2%;

        font-size: 200%;
    }
    #accomodations-results .results {
        align-items: center;
        flex-direction: row;
    }
    #accomodations-results .results .card {
        flex: 0 0 100%;

    }
    #accomodations-results .results .card h2 {
        font-size: 120%;
    }
    #accomodations-results .results .card figure {
        width: 96%;
        box-shadow: 2px 1px 1px 3px #f2f2f2;
    }
    #accomodations-results .results .card figure img {
        height: 170px;
        flex-grow: 2;
    }
    #accomodations-results .results > p {
        font-size: 140%;
        padding-top: 4%;
        padding-left: 4%;
    }

    #activities-results {
        order: 2;
    }
    #activities-results h2 {
        padding-left: 5%;
    }
    #activities-results .results {
        align-items: center;
        flex-direction: row;

        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;

        background-color: white;

    }
    #activities-results .results .card {
        flex: 0 0 100%;
    }
    #activities-results .results .card figure  {
        width: 96%;
    }
    #activities-results .results .card figure figcaption {
        padding-top: 4%;
        font-size: 130%;
    }
    #activities-results .results .card figure img,
    #activities-results .results .card:nth-child(1) figure img,
    #activities-results .results .card:nth-child(4) figure img {
        height: 170px;
    }
}
