* {
    box-sizing: border-box;
    font-family: 'Raleway';
}

img {
    object-fit: cover;
    border-radius: 150px;   
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    
    padding-left: 1%;
    padding-right: 10%;
}

header img {
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    height: 120px;
}

header nav {
    width: 20%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    gap: 30%;

    list-style: none;
    margin: 0;
    padding-left: 0;
}
header nav ul li {
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
}
header nav ul li:hover {
    color: #0065FC;

    border-top: 3px solid#0065FC;
}

/* Search form */
form {
    background-color:white;

    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

form .form-header h1 {
    font-size: 120%;
    padding-left: 0.4%;
}
form .form-header h2 {
    font-weight: normal;
    font-size: 100%;

    padding-left: 0.4%;
}

form .search {
    display: inline-flex;
    align-items: baseline;

    border: 1px solid #f2f2f2;
    border-radius: 20px;

    background-color: #f2f2f2;
}
form .search i {
    padding: 5% 5% 5% 5%;
}
form .search input {
    padding: 5% 5% 5% 5%;
    border: 0;

    font-weight: bold;
}
form .search input:focus {
    outline: none;
}
form .search-button {
    background-color:#0065FC;
    color: white;

    padding: 5% 5% 5% 5%;
    border: 0;
    border-radius: 0 20px 20px 0px;

    font-family: Raleway;
    font-weight: bold;
}

form .filters {
    display: flex;
    align-items: baseline;
    gap: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}
form .filters h2 {
    font-size: 110%;
}
form .filter {
    border: 3px solid #f2f2f2;
    border-radius: 30px;

    font-weight: bold;
}
form .filter i {
    border: 1px solid #DEEBFF;
    border-radius: 100%;
    padding: 10px;

    color: #0065FC;
    background-color: #DEEBFF;
}
form .filter p {
    display: inline-block;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

form .info {
    display: flex;
    align-items: center;
    gap: 1%;
}
from .info span {
    border: 10px solid #f2f2f2;
    height: 20%;
}
form .info .icon-background2 {
    color:white;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
}
form .info .fa-info {
    color: blue;
    height: 40px; 
}

/* General styling for result cards */
a {
    text-decoration: none;
    color: inherit;
}
.card {
    display: block;

}
.card figure {
    background-color: white;

    border-radius: 15%;
}
.card figure img {

    width:  100%;
}
figure figcaption {
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 4%;
}
figure h2 {
    font-size: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}
figure p {
    margin-top: 5%;
}
figure .price {
    font-weight: bold;
}
.rating {
    color: #0065FC;
}
.rating .unstarred {
    color: lightgray;
}

/* Main Styling */
main {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
}
main > .results {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2%;
}
main .results section {
    border-radius: 2%;
    padding: 1.5%;
}
main .results section h1 {
    font-size: 140%;
    width: 100%;
}

#accomodations-results {
    background-color: #f2f2f2;

    flex-basis: 65%;
}
#accomodations-results .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 

    height: 95%;
}
#accomodations-results .results .card {
    width: 33%;
}
#accomodations-results .results .card figure {
    width: 90%;

    margin: 1%;
    padding: 2%;
}
#accomodations-results .results .card figure img {
    height: 132px;
    width: 100%;
    border-radius: 25px 25px 0 0;
}
#accomodations-results .results .card figure figcaption  {
    line-height: 90%;
}
#accomodations-results .results .card figure figcaption p {
    padding-left: 0;
}
#accomodations-results .results p {
    padding-left: 2%;
}

#most-popular {
    background-color: #f2f2f2;
    
    flex-basis: 33%;
}
#most-popular header, #accomodations-results header {
    display: flex;
    align-items: center;

    height: 10%;

    padding-bottom: 3%;
    padding-left: 0%;
    padding-top: 3%;

    font-size: 110%;
}
#most-popular .results {
    display: flex;
    flex-wrap: wrap;

    height: 100%;
}
#most-popular .results .card {
    width: 100%;
    height: 160px;  

    padding: 0;
    margin: 0;
}
#most-popular .results .card figure {
    display: flex;
    align-items: stretch;
    margin: 0;

    padding: 1.5%;
    height: 100%;
}
#most-popular .results .card figure img {
    height: 100%;

    border-radius: 25px 0 0 25px;
}
#most-popular .results .card figure figcaption {
    width: 120%;
}
#most-popular .results .card figcaption .rating  {
    font-size: 80%;
}

#activities-results {
    flex-basis: 100%;

    padding: 0;
}
#activities-results .results {
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 1%;

    height: 500px; 
}
#activities-results .results .card {
    width: 22%;
    height: 48%;
}
#activities-results .results .card figure {
    margin: 1%;
    border: 2px solid #f2f2f2;
    padding: 0;

    height: 100%;
}
#activities-results .results .card figure img {
    height: 80%;
    border-radius: 10% 10% 0% 0%;
}
#activities-results .results .card figure figcaption {
    display: flex;
    align-items: center;

    height: 20%;

    font-size: 110%;
    font-weight: bold;
}

#activities-results .results .card:nth-child(1) {
    flex-basis: 100%;
    height: 100%;
}
#activities-results .results .card:nth-child(1) figure img {
    height: 90%;
}
#activities-results .results .card:nth-child(1) figure figcaption {
    height: 10%;
}
#activities-results .results .card:nth-child(4) {
    flex-basis: 100%;
    height: 100%;
}
#activities-results .results .card:nth-child(4) figure img {
    height: 90%;
}
#activities-results .results .card:nth-child(4) figure figcaption {
    height: 10%;
}

/* FOOTER */
footer {
    background-color: #f2f2f2;

    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
footer nav {
    display: flex;
    gap: 20%;
    
}
footer nav h1 {
    font-size: 120%;
}
footer nav ul {
    display: flex;
    flex-direction: column;

    padding-left: 0;
    list-style: none;
    
    line-height: 120%;
}
footer nav ul li {
    padding-bottom: 5%;

    font-size: 90%;
}
