* {
    box-sizing: border-box;
    font-family: 'Raleway';
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

main .results {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 5%;
}

#accomodations-results {
    background-color: #f2f2f2;

    flex-basis: 65%;
}
#accomodations-results .results {
    display: flex;
    flex-wrap: wrap;
}

#most-popular {
    background-color: #f2f2f2;
    
    flex-basis: 30%;
}
#most-popular .results {
    display: flex;
}

#activities-results {
    flex-basis: 100%;
}
#activities-results .results {
    display: flex;
}


footer nav {
    display: flex;
    justify-content: space-between;
}

footer nav ul {
    display: flex;
    flex-direction: column;
}

figure img {
    width: 200px;
    height: 200px;
}

a {
    text-decoration: none;
    color: inherit;
}